.mugman {
    color: rgb(0, 0, 0);      
    font-size: 24px;     
    text-align: center; 
}

.mugman2 {
    color: rgb(138, 36, 36);        
    font-size: 24px;      
    text-align: center;   
}

.mugman3 {
    color: rgb(138, 36, 36);        
    font-size: 24px;      
    text-align: center;   
}

.mugman4 {
    color: rgb(0, 0, 0);        
    font-size: 24px;      
    text-align: center;   
}

.mugman5 {
    color: rgb(145, 28, 28);        
    font-size: 39px;      
    text-align: center;   
}

.mugman6 {
    color: rgb(15, 67, 110);        
    font-size: 24px;      
    text-align: center;   
}

.mugman7 {
    color: rgb(4, 33, 56);        
    font-size: 24px;      
    text-align: center;   
}

.mugman8 {
    color: rgb(4, 27, 48);        
    font-size: 24px;      
    text-align: center;   
}

.mugman9 {
    color: rgb(4, 27, 48);        
    font-size: 24px;      
    text-align: center;   
}